.cart-box {
    margin-top: 8px;
}

.cart-wrapper {
    width: 100%;
    border-radius: 12px;
    background: #fdfdfd;
    padding: 20px;
}

.cart-heading {
    display: block;
    font-weight: 500;
    font-size: 1.8rem;
    padding-left: 8px;
    padding-bottom: 8px;
}

.product-wrapper {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #f2f2f2;
}

.product-wrapper:last-child {
    padding-bottom: 8px;
    border-bottom: none;
}

.product-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.product-img-wrapper::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.product-img {
    object-fit: contain;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0px 1.2rem #dddddd;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12px;
}

.product-name {
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color);
}

.product-price {
    margin: 2px 0;
    color: #646464;
    font-size: 1.4rem;
}

.product-ship {
    width: 92px;
    border-radius: 8px;
    padding: 2px 12px;
    margin: 12px 0;
    color: var(--primary-dark-color);
    background-color: rgba(var(--primary-light-code), 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.product-ship span {
    font-size: 1.3rem;
    line-height: 1.6rem;
}

.product-icon {
    width: 16px;
    height: 16px;
}

/* _______________________________ quantity _______________________________ */

.product__quantity-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgb(236, 236, 236);
    border-radius: 8px;
    margin: 16px 0;
}

.product__quantity-input {
    text-align: center;
    color: #333;
    font-size: 1.6rem;
    width: 40px;
    height: 28px;
    font-weight: 500;
    border: 1px solid rgb(236, 236, 236);
    border-width: 0 1px 0 1px;
}

.product__quantity-input:focus-visible {
    outline: none;
}

.product__quantity-decrease,
.product__quantity-increase {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    text-align: center;
    font-size: 2rem;
    width: 28px;
    height: 28px;
}

.product__quantity-decrease:hover,
.product__quantity-increase:hover {
    background: #f2f2f2;
    cursor: pointer;
}

/* định dạng lại input number */
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* _______________________________ _______________________________ */

.product-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.product-action .delete-item-btn {
    display: inline-block;
    border-radius: 12px;
    background-color: unset;
    border: 1px solid transparent;
    padding: 4px 0px;
    font-size: 1.6rem;
}

.product-action .delete-item-btn:hover {
    color: var(--primary-dark-color);
    font-weight: 500;
}

.product-action .delete-item-btn:focus {
    outline: none;
}

.product-real-price {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 1.7rem;
}

/* _______________________________ ship _______________________________ */

.product__ship {
    font-size: 1.4rem;
    color: var(--text-color);
}

.product__ship-address {
    margin-top: 8px;
    font-size: 1.4rem;
}

.product__ship-choosing {
    font-weight: 500;
}

.product__ship-change {
    color: var(--primary-dark-color);
    text-decoration: none;
    font-weight: 500;
}

.product__ship-change:hover {
    color: var(--primary-dark-color);
    text-decoration: underline;
}

.product__ship-time-price {
    margin: 8px 0;
    border: 1px solid #f2f2f2;
    border-radius: 12px;
    padding: 12px 16px;

    display: flex;
}

.product__ship-img {
    width: 80px;
    height: 44px;
    object-fit: cover;
}

.product__ship-info {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.product__ship-time {
    color: var(--primary-dark-color);
    text-decoration: none;
    font-weight: 500;
}

.product__ship-price-label {
    font-weight: 500;
    color: var(--text-lighter-color);
}

.product__ship-price-new {
    margin: 0 2px;
}

.product__ship-price-old {
    color: var(--text-lighter-color);
    text-decoration: line-through;
}

.checkout-box {
    display: flex;
    justify-content: space-between;
}

.cart-heading-2 {
    margin: 8px 0;
    font-weight: 500;
    font-size: 1.6rem;
    color: #333;
}

.cart-heading-3 {
    margin: 4px 0;
    font-size: 1.4rem;
    color: #777;
}

.separate {
    border-bottom: 1px dashed #f2f2f2;
    margin-top: 20px;
    margin-bottom: 8px;
}

.checkout-action {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
}

.checkout-btn {
    display: block;
    color: white;
    background: var(--primary-dark-color);
    border-radius: 12px;
    border: none;
    width: 100%;
    outline: none;
    padding: 12px 0;
    font-weight: 500;
}

.checkout-btn:hover {
    opacity: 0.9;
}

.checkout-btn:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.home-btn {
    margin-top: 12px;
    text-align: center;
    padding: 8px 0;
    display: block;
    text-decoration: none;
    color: #333;
    outline: none;
    border: 1px solid #e7e7e7;
    border-radius: 12px;
    font-weight: 500;
}

.home-btn:hover {
    color: var(--primary-dark-color);
    border: 1px solid var(--primary-dark-color);
}

.cart-no-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    font-size: 1.5rem;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .product__quantity-box {
        margin: 20px 0;
    }
}

@media (max-width: 991px) {
    .product__quantity-box {
        margin: 0;
    }

    .product-info-quantity {
        padding: 0 8px;
    }

    .product-action {
        justify-content: space-between;
    }

    .product-real-price {
        margin-top: 8px;
    }

    .product-action .delete-item-btn {
        margin-bottom: 12px;
    }
}

@media (max-width: 557px) {
    .product-img {
        width: 100px;
        height: 100px;
    }

    .cart-no-item {
        margin-bottom: 36px;
        overflow: hidden;
    }

    .cart-no-item svg {
        width: 150%;
    }
    .cart-no-item span {
        text-align: center;
        width: 180px;
    }
}
